*{
	clear: both;
}
header{
	text-align: center;
	font-size: 40px;
	background: linear-gradient(grey,darkgrey);
	font-weight: bold;
	border: 1px  black;
	border-radius:10px;
	padding: 0;
	margin: 0;
	
	//display:inline;
	//float:right;
}
 #logo{
	float: right;
	width: 100px;
	height: 100px;
	display: inline;
}
header h2,p{
	position:relative;
	float:right;
}
h3{
	color: darkblue;
}
nav{
	padding: 10px;
	margin: 10px;
	
	float: right;
	//background-color: #000080;
}
nav a{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	
	border-radius: 25px;
	text-decoration:none;
	font-weight:bold;
	
}
a{
	color: #000000;
}
a:hover{
background-color: #A9A9A9;
}
a:link{
	
}
input{
	padding: 10px;
	width: auto;
}

label{
	width: 60px;
	padding: 20px;
	display: inline-block;
}
footer{
	background-color: #A9A9A9;
	position:absolute;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin: auto;
	
}