contView{    
    margin-bottom:8px;    
    margin-top:10px;}
span{    
        padding:8px;    
        display: inline-block;
}
.col1{    
    background-color: darkred;    
    color: #ffffff;    
    width:120px;
    }
.col2{    
            background-color: grey;    
            width:120px;    
            font-weight: 100px;
 }

img{
    height: 20px;
    width: 20px;
}

        