.bg{
    border-bottom: 2px solid black;
    text-align: left;
    padding: 10px;
    background-color: lightgrey;
    height: 30px;
    
}
a{
    text-decoration: none;
    background-color: darkred;
    color: #ffffff;
    font-weight: 400;
    border-radius: 70px;
    display: inline-block;
    margin: 3px;
    padding: 4px;
}