*{
    margin:5px;
    padding:10px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    background-color: darkgrey;
    border-radius:5px;
    font-weight:bolder; 
}
nav a:hover{
   zoom: 105%;

}
body{
    background-color: lightgreen;
}
header{
    margin-bottom: 0px;
    border-radius: 5px;}
    footer{margin-top:0px;
        margin-bottom: 0px;
        border-radius: 5px;}
    
header,footer{
    min-height: 150px;
    background-color: lightcoral;
    color:burlywood;
}
nav{
min-height: 150px;
    background-color: lightcoral;
    color:burlywood;
    margin-top:0px;
    margin-bottom:0px;
}
main{
    min-height: 150px;
        background-color: chocolate;
        color:burlywood;
        margin-top: 0px;
        margin-bottom: 0px;
    }

table{
    text-align: center;
    width:100%;
    padding: 5px;
    margin: 5px;
  

}