div{
    width: 800px;
    padding: 0px;
    
}
span{
    display: inline-block;
    margin: 0px;
    padding: 9px;
    background-color: blue;
    font-weight: 300;
    width: 70%;
}

span:first-child{
    background-color: black;
    color: white;
    width: 5%;
}

button{
    width:20%;
    background-color: brown;
    color: white;
    display: inline-block;
    margin: 0px;
    padding: 9px;
}